{% extends 'users/base.html' %}


{% block content %}

<div class="card">
    <div class="card-body text-center">
        <h3 class="mb-4">Create a New Folder</h3>
        <form method="post" action="{% url 'users:create_folder' %}">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" required>
            <br>
            <label for="parent_folder">Parent Folder:</label>
            <select name="parent_folder">
              <option value="">Main Menu</option>
              {% for folder in folders %}
                <option value="{{ folder.id }}">{{ folder.name }}</option>
              {% endfor %}
            </select>
            <br>
            <button type="submit">Create</button>
          </form>
    </div>
</div>

{% endblock %}