{% extends 'users/base.html' %}

{% block content %}

<div class="card">
  <div class="card-body text-center">
      <h3 class="mb-4">Login</h3>
      <form action="{% url 'users:login' %}" method="POST">
          {% csrf_token %}
          {% if messages or form.non_field_errors %}
            <div class="alert 
            {% if messages %} alert-success {% else %} alert-warning {% endif %} 
            alert-dismissible fade show" role="alert">
              {% if messages or form.non_field_errors %}
                {% if messages %}
                  {% for message in messages %}
                    {{ message }}
                  {% endfor %}
                {% else %} {{ form.non_field_errors }}
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
          <div class="input-group mb-3">
            {{ form.username }}
          </div>
          <div class="input-group mb-4">
            {{ form.password }}
          </div>

          <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>
      </form>
  </div>
</div>

{% endblock %}