{% extends 'main/base.html' %}


{% block content %}
  <h1>Class {{ class_number }} Detail</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Date of Birth</th>
        <th>Date of Enrollment</th>
        <th>Payment Percent</th>
        <th>Balance Due</th>
        <th>Paid Months</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td><a href="{% url 'student_detail' name=student.name %}">{{ student.name }}</a></td>
          <td>{{ student.date_of_birth }}</td>
          <td>{{ student.date_of_enrollment }}</td>
          <td>{{ student.payment_percent }}</td>
          <td>{{ student.balance_due }}</td>
          <td>{{ student.paid_months }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if action == 'class_detail' %}
    {% if lessons %}
      <br>
      <h1>Lessons For class {{ class_number }} Detail</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Teacher</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
            <tr>
              <td>{{ lesson.get_day_display }}</td>
              <td>{{ lesson.start_time }}</td>
              <td>{{ lesson.end_time }}</td>
              <td><a href="{% url 'teacher_detail' name=lesson.teacher %}">{{ lesson.teacher }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %} <h1>No timetable</h1>
    {% endif %}
  {% endif %}

{% endblock %}
