{% extends 'main/base.html' %}

{% block register %}
  {% if user_permission %}
    <a class="btn btn-primary" href="{% url 'register' %}">Register User</a>
  {% endif %}
{% endblock register %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Welcome, {{ request.user }} !</h2>
  {% endif %}

  <h1>School Classes:</h1>
  <ul>
    {% for school_class in school_classes %}
      <li><a href="{% url 'class_detail' class_number=school_class.class_number %}">Class {{ school_class.class_number }}</a></li>
    {% empty %}
      <p>No classes found.</p>
    {% endfor %}
  </ul>
{% endblock %}
