{% extends 'main/base.html' %}

{% block scripts %}
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
{% endblock scripts %}


{% block content %}
  <div class="col-md-6 mx-auto">
    <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input" />
      <ul class="autocomplete-result-list"></ul>
    </div>
  </div>


  <script>
    new Autocomplete('#autocomplete', {
      search: input => {
        const url = `/api/get-names/?search=${input}`
        return new Promise(resolve => {
          fetch(url)
            .then(response => response.json())
            .then(data => {
              resolve(data.payload)
            })
        })
      },
      renderResult: (result, props) => {
        let group = ''
        if(result.index % 3 === 0){
          group = `<li class="group">Group</li>`
        }
        return `
          ${group}
          <li ${props}>
            <div class="wiki-title">
              ${result.name}
            </div>
          </li>
        `
      },
      getResultValue: result => result.name,
      onSubmit: result => {
        const urlInfo = `/student-info/`;
        var csrftoken = '{{ csrf_token }}';

        fetch(urlInfo, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ name: result.name })
        })
        .then(response => {
            return response.text();
        }).then(html => {
            let newWindow = window.open('', "_self");
            newWindow.document.body.innerHTML = html;
        }).catch(error => {
            console.error(error);
        })
      }
    })
  </script>

{% endblock content %}
