{% extends 'main/base.html' %}

{% block content %}
  <center><h1>{{ teacher.name }} Detail</h1></center>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date of Birth</th>
        <th>Date of Enrollment</th>
        <th>Teach Subject</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ teacher.date_of_birth }}</td>
        <td>{{ teacher.date_of_enrollment }}</td>
        <td><a href="{% url 'subject_detail' name=teacher.teachSubj.nameSubject %}">{{ teacher.teachSubj.nameSubject }}</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
